.navbar {
    background-color: #5b0e2a;
    margin: 0;
    height: 75px;
}

.navbar-text{
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #ffffe0;
}
h2 {
    color:  #5b0e2a;

}
.intro {
    font-size: 20px;
}
.divider{
    background-color:  #5b0e2a;
    font-size: 25px;
    color: white;
    font-weight: bold;
}